@charset "UTF-8";

body {
	font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB',
		'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', STHeiti, 'WenQuanYi Micro Hei',
		SimSun, sans-serif;
}

*,
::after,
::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.fixed {
	position: fixed;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	background: 0 0;
	border: 0;
	color: transparent;
	font: 0/0 a;
	text-shadow: none;
}

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.text-c {
	text-align: center;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-clip {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}

.text-break {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
}

.flex {
	display: flex;
}

.flex_item {
	flex: 1;
}

.flex_vc {
	align-items: center;
}

.flex_hc {
	justify-content: center;
}

.fb {
	font-weight: bold;
}

.f12 {
	font-size: 0.28rem;
	transform: scale(0.9);
}

.f14 {
	font-size: 0.28rem;
}

.f15 {
	font-size: 0.3rem;
}

.f16 {
	font-size: 0.34rem;
}

.f18 {
	font-size: 0.36rem;
}

.f20 {
	font-size: 0.4rem;
}

.f22 {
	font-size: 0.5rem;
}

.showMessage {
	position: fixed;
	top: 5rem;
	left: 50%;
	z-index: 99;
	width: 6rem;
	margin-left: -3rem;
	min-height: 0.8rem;
	line-height: 1.5;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	text-align: center;
	padding: 0.2rem;
	font-size: 0.32rem;
}

.pop_bg {
	display: none;
	position: fixed;
	padding: 0 0.3rem;
	z-index: 20;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
	.pop_inner {
		position: relative;
		.pop_close {
			position: absolute;
		}
	}
}

.showLoading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 1rem;
	height: 1rem;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('../img/loading.gif');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
	border-radius: 5px;
}
