@charset "UTF-8";
@import './variable';

.f12 {
	font-size: 0.28rem;
	transform: scale(0.9);
}

.f14 {
	font-size: 0.28rem;
}

.f15 {
	font-size: 0.3rem;
}

.f16 {
	font-size: 0.34rem;
}

.f18 {
	font-size: 0.36rem;
}

.f20 {
	font-size: 0.4rem;
}

.f22 {
	font-size: 0.5rem;
}

.showMessage {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	z-index: 99;
	width: 5rem;
	min-height: 0.8rem;
	line-height: 1.5;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	text-align: center;
	padding: 0.2rem;
	font-size: 0.32rem;
}

.showLoading {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	z-index: 100;
	width: 1rem;
	height: 1rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: $loading;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
	border-radius: 5px;
}