<%= require('html-loader!./templete/header.html') %>

<div class="index-page">
    <p>
        <a href="/index.html">中文</a>
    </p>
    <p>
        <a href="/en/index.html">English</a>
    </p>
    <p>_(name)</p>
    <p>_(introduction)</p>
    <p>_(introduction.career)</p>
    <p>_(introduction.hobby.0)</p>
    <p>_(introduction.hobby.1)</p>
    <p>_(introduction.hobby.2)</p>
    <p>_(introduction.location.0)</p>
    <p>_(introduction.location.1)</p>
    <p>_(introduction.location.2)</p>
    <p>_(undefined)</p>
    @@email
    <img src="<%= require('./img/logo.png') %>" alt="name">
</div>

<%= require('html-loader!./templete/footer.html') %>